@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(http://fonts.googleapis.com/css?family=Clicker+Script);

/* This
is
a comment! */

/* CSS Syntax:
@@ -70,3 +70,42 @@ figcaption {
#details a:active {
  color: red;
}
/*////////// LAYOUT //////////*/
 .wrapper {
  width: 960px;
  margin: 0 auto;
  background: #eee;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
  background: #eee;
}
 .col-1 {
  /* this column will span one-third */
}
 .col-2 {
  /* this column will span two-thirds */
}
 .col-3 {
  /* this column will span all the entire wrapper */
}
.col-1 {
  float: left;
  width: 32%;
  background: #ccc;
}
 .col-2 {
  float: left;
  width: 66%;
  background: #ccc;
}
 .col-3 {
 background: #ccc;
}
